#configs { width:300px; margin:auto; padding:20px; background: #ccc; }
#configs label { clear:both; display: block; }
#target { position: absolute; width:20px; height: 20px; background: red; display:none; }